<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="dropdown">
    <%= f.label "Program: " %><br />
    <%= f.collection_select :program_id, Program.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :start_course %><br />
    <%= f.datetime_select :start_course %>
  </div>
  <div class="field">
    <%= f.label :end_course %><br />
    <%= f.datetime_select :end_course %>
  </div>
  <div class="field">
    <%= f.label :weekend %><br />
    <%= f.check_box :weekend %>
  </div>
  <div class="field">
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </div>
  <div class="dropdown">
    <%= f.label "Classroom: " %><br />
    <% unless @course.new_record? %>
      <%= collection_select :course, :classroom_id, Classroom.where(location_id: @course.classroom.location.id), :id, :name %>
    <% else %>
      <%#= collection_select :course, :classroom_id, Classroom.all, :id, :name %>
    <%= grouped_collection_select(:course, :classroom_id, Location.all, :classrooms, :name, :id, :name) %>

    <%#  grouped_collection_select(:city, :country_id, @continents, :countries, :name, :id, :name) %>

    <% end %>  
  </div>

  <div class="field">  
    <h3>Select Producer</h3>
    <%= select_tag "course[producer_ids][]", options_from_collection_for_select(User.where(role: "producer"), "id", "name")%>
  </div>

  <div class="field">
  <h3>Select Instructor</h3> 
    <% User.where(role: "instructor").each do |user| %>  
      <%= check_box_tag "course[instructor_ids][]", user.id %>

      <%= label :user_ids, user.name%>
    <% end %>
  </div>

  <div class="field"> 
    <h3>Select Student</h3>
    <% User.where(role: "student").each do |user| %>  
      <%= check_box_tag "course[student_ids][]", user.id, @course.students.include?(user), id: "course_student_ids_#{user.id}"  %>

      <%= label :user_ids, user.name%>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
