<h1>Listing courses</h1>

<table>
  <tr>
    <th>Program</th>
    <th></th>    
    <th>Course Dates</th>
    <th>Times</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.program.name %></td>
    <td><%= image_tag course.program.program_image.thumb.url %></td>
    <td><%= course.start_course.strftime('%d-%b-%Y') %> <br/><%= course.end_course.strftime('%d-%b-%Y') %></td>
    <td><%= course.start_course.strftime('%H-%M') %> <br/><%= course.end_course.strftime('%H-%M') %></td>
  
    <td><%= link_to 'Show', course %></td>
    <% if current_user.role == "producer" %>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if current_user.role == "producer" %>

<%= link_to 'New Course', new_course_path %>

<% end %>


