<h1>ALL COURSES</h1>


<% @courses.each do |course| %>
  
<%= link_to(course) do %>
  <article class="cf">
    <p><%= course.start_course.strftime('%d-%b-%Y') %></p>
    <hr/>
    
      <div class="courseimage">
        <%= image_tag course.program.program_image.url %>
      </div>
      <div class="coursedescription">
      <h2><%= course.program.name %><br/><%= course.classroom.location.name %></h2>
      <p><%= course.program.description %></p>
    </div>
    <div class="coursedates">
      <p><%= course.start_course.strftime('%d-%b-%Y') %> - <%= course.end_course.strftime('%d-%b-%Y') %></p>
      <p><%= course.start_course.strftime('%H-%M') %> - <%= course.end_course.strftime('%H-%M') %></p>
    </div>
    
  </article>
  <% end %>

<% end %>
</table>

<br />

<div class="new_course">
  <% if current_user.role == "producer" %>
    <%= link_to 'New Course', new_course_path %>
  <% end %>
</div>

