<p id="notice"><%= notice %></p>


<p>
  <b>Program:</b>
  <%= @course.program.name %>
</p>


<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Price:</b>
  <%= @course.price %>
</p>

<p>
  <b>Start Course:</b>
  <%= @course.start_course %>
</p>

<p>
  <b>End Course:</b>
  <%= @course.end_course %>
</p>

<% unless current_user.role == "student" %>

<p>
  <b>Weekend:</b>
  <%= @course.weekend %>
</p>

<p>
  <b>Published:</b>
  <%= @course.published %>
</p>

<p>
  <b>Location:</b>
  <%= @course.classroom.location.name %>
</p>

<p>
  <b>classroom:</b>
  <%= @course.classroom.name %>
</p>

<p>
  <b>Producer:</b>
  <% @course.producers.each do |p| %>
    <%= p.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |

<% end %>
<%= link_to 'Back', courses_path %>
