<p id="notice"><%= notice %></p>

<% if current_user.role == "student" %>

  <h2>Sign up! Call Oliver on 07590 666 9801</h2>

<% end %>

<p>
  <b>Program:</b>
  <%= @course.program.name %>
</p>


<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Price:</b>
  <%= @course.price %>
</p>

<p>
  <b>Course dates</b>
  <%= @course.start_course.strftime('%d-%b-%Y') %> - <%= @course.end_course.strftime('%d-%b-%Y') %>
</p>

<p>
  <b>Course times</b>
    <%= @course.start_course.strftime('%H-%M') %> / <%= @course.end_course.strftime('%H-%M') %>
</p>


<% unless current_user.role == "student" %>

<p>
  <b>Location:</b>
  <%= @course.classroom.location.name %>
</p>

<p>
  <b>Classroom:</b>
  <%= @course.classroom.name %>
</p>

<p>
  <b>Producer:</b>
  <% @course.producers.each do |p| %>
    <%= p.name %>
  <% end %>
</p>

<p>
  <b>Instructors:</b>
  <% @course.instructors.each do |p| %>
    <%= p.name %>
  <% end %>
</p>

<p>
  <b>Students:</b>
  <% @course.students.each do |p| %> |
    <%= p.name %>
  <% end %>
</p>

<% end %>

<% if current_user.role == "producer" %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %> |

<% end %>

<%= link_to 'Back', courses_path %>
