<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @classroom.name %>
</p>

<p>
  <b>Seats:</b>
  <%= @classroom.seats %>
</p>

<p>
  <b>Location:</b>
  <%= @classroom.location_id %>
</p>


<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
