<!DOCTYPE html>
<html>
<head>
  <title>GaScheduler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "dialog","fullcalendar","jquery-ui","style" %>
  <%= javascript_include_tag "jrails1/fullcalendar.js","jrails1/jquery- ui.js","jrails1/gcal.js","jrails1/jrails.js","jrails1/jquery.validate.js"%>
</head>
<body>
  <div class="wrapper">
  
  <header>
    <%=image_tag("General assembly header.png", alt: "GA logo")%>
    <div class="login">
      <% if current_user %>
        <p> hello, <%= current_user.name %> </p>
        <p><%= link_to 'Logout', logout_path, method: :delete %></p>
      <% else %>
        <p>
           <%= link_to 'login', login_path %> |
           <%= link_to 'Sign Up', new_user_path %>
        </p>
      <% end %>
    </div>
    <nav>
  </header>

  <main>

  <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
     <%= message %>
    </div>
   <% end %>


  <% if current_user %>
    <p class="menu">
    
    <%= link_to 'All Courses', courses_path, class: "button" %> |
    <%= link_to 'Locations', locations_path, class: "button"  %>
    <% unless current_user.role == "student" %>
      | <%= link_to 'Users', users_path, class: "button"  %>
    <% end %> 
    <% if current_user.role == "producer" %>
      | <%= link_to 'Programs', programs_path, class: "button" %> |
      <%= link_to 'Topics', topics_path, class: "button" %> |
      <%= link_to 'Formats', formats_path, class: "button" %>
      <% end %>
    </p>
  <% end %>
  
  <%= yield %>

  </main>

</div>
</body>
</html>
