

<% @locations.each do |location| %>

  <h2>
    <a href="http://localhost:3000/calendar/<%= location.id %>"><%= location.name %></a>
      <p><%= location.country %></p>
  </h2>
  <% if current_user.role == "producer" %>
    <p><%= link_to 'Edit', edit_location_path(location) %> |  <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
  </tr>
<% end %>
</table>

<div class="new_course">
  <% if current_user.role == "producer" %>
    <%= link_to 'New location', new_location_path, class: "button"  %>
  <% end %>
</div>